body {
	font-family: "Courier New", Courier, "Lucida Sans Typewriter", "Lucida Typewriter", monospace;
	padding-left: 10%;
	padding-right: 10%;
}
	

#picture {
	background-image: url("http://lh5.ggpht.com/-e0d6Q8JN1B8/Tkj2WRll0vI/AAAAAAAAFCo/fYyhqQZhOhk/s9000/Book.JPG");
	opacity: 0.8;
	margin-top: 8%;
  	height: 80%;
  	z-index: -1;   
}

#main-header {
	margin-bottom: 1em;
}

#logo {
	font-size: 3em;
	padding-top: 1em;
	padding-bottom: 0.3em;
	margin-bottom: 2em;
	text-align: center;
	border-bottom: solid 2px;
}

header h1 a {
	text-decoration: none;
	color: rgb(68, 68, 68);
	font-weight: bold;
}


header nav ul {
	display: inline;

}

header nav ul li {
	float :right;
	padding-right: 1%;
}

#welcome-message{
	font-size: 2em;
}


#flash{
	margin-bottom: 2em;

}

h1 {
	font-size: 2em;
	margin-bottom: 1.2em;

}


#sign_out {
	margin-top: -0.5em;

}

a.button {
	width: 100px;
	background-color: rgb(68, 68, 68);
	color:white;
	padding: 5px 10px;
	text-align: center;
	border-radius: 4px;
	font-weight: 300;
	text-decoration: none;
	font-size: 1em;
	box-shadow: 10px 10px 5px #888888;
}

input[type=submit] {
	width: 100px;
	color:black;
	padding: 5px 10px;
	text-align: center;
	border-radius: 4px;
	font-weight: bold;
	font-family: "Courier New", Courier, "Lucida Sans Typewriter", "Lucida Typewriter", monospace;
	font-size: 1em;
	box-shadow: 10px 10px 5px #888888;
}

#new-link input[type="text"] {
	width: 40em;
	height: 2em;
}

#new-link {
	margin-top: 3em;
}

#new-link p {
	margin-bottom: 1em;
	margin-top: 0.5em;
}

#new-user{
	margin-top: 5%;

}

#content {
	display: inline-block;
	width: 100%;
	padding-left: 0.2em;
}

#content h2{
	font-size: 1.5em;
	margin-bottom: 1.2em;
	border-bottom: solid 1px;
	padding-bottom: 0.2em;
}

#links {
	float: left;
	width: 45%;
}

#link-user {
	font-style: italic;
}

#tags {
	float: right;
	width: 45%;
}

#content li {
	margin-bottom: 1em;
}

#content li p {
	margin-top: 0.4em;
}
