body {
	font-family: "Courier New", Courier, "Lucida Sans Typewriter", "Lucida Typewriter", monospace;
	padding-left: 10%;
	padding-right: 10%;
}
	

#picture {
	background-image: url("http://lh5.ggpht.com/-e0d6Q8JN1B8/Tkj2WRll0vI/AAAAAAAAFCo/fYyhqQZhOhk/s9000/Book.JPG");
	opacity: 0.8;
	margin-top: 8%;
  	height: 80%;
  	z-index: -1;   
}


}


header {
	background-color: white;
	padding-top: 3em;
	margin-bottom: 1em;
}

header h1 a {
	text-decoration: none;
	color: rgb(68, 68, 68);
	font-weight: bold;
}

header h1 {
	font-size: 3em;
	padding-top: 1em;
	padding-bottom: 0.3em;
	margin-bottom: 2em;
	text-align: center;
	border-bottom: solid 2px;
}

header nav ul {
	display: inline;

}

header nav ul li {
	float :right;
	padding-right: 1%;
}

#sign_out {
	margin-top: -0.5em;

}

a.button {
	width: 100px;
	background-color: rgb(68, 68, 68);
	color:white;
	padding: 5px 10px;
	text-align: center;
	border-radius: 4px;
	font-weight: 300;
	text-decoration: none;
	font-size: 1em;
	box-shadow: 10px 10px 5px #888888;
}

input[type=submit] {
	width: 100px;
	background-color: rgb(68, 68, 68);
	color:white;
	padding: 5px 10px;
	text-align: center;
	border-radius: 4px;
	font-weight: 300;
	font-family: "Courier New", Courier, "Lucida Sans Typewriter", "Lucida Typewriter", monospace;
	font-size: 1em;
	box-shadow: 10px 10px 5px #888888;
	border: none;
}

