<div id="reset-password">
<h1>Please enter your new password</h1>
	<form action="/users/reset_password/update" method="post">	
		<input name="token" type="hidden" value="<%= @user.password_token %>">
		Password: <input name="password" type="password">
		Password confirmation: <input name="password_confirmation" type="password">
		<input type="submit" value="Send">
	</form>
</div>
