<div id="new-link">
	<form action="/links" method="post">
		Url:<p> <input type="text" name="url"></p>
		Title:<p> <input type="text" name="title"></p>
		Tags:<p><input type="text" name="tags"></p>
		Description:<p><input type="text" name="description"></p>
		<p><input type="submit" value="Add link"></p>
	</form>
</div>
