<h2 id="current-links">Current links</h2>
<ul>
	<% @links.each do |link| %>
		<li>
			<a href="<%= link.url %>"><%= link.title %></a>
		</li>
	<% end %>
</ul>

<% if @tags %>
	<h2 id="current-tags">Tags</h2>
	<ul>
		<% @tags.each do |tag| %>
			<li>
				<a href="/tags/<%= tag.text%>"><%= tag.text %></a>
			</li>
		<% end %>
	</ul>
<% end %>